@model IEnumerable<Concert.Data.Entities.Ticket>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
 <h1 class="display-4">Dirigirse A Boletos Para Verificarlo</h1>
   
</div>
